<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song Recognition</title>
    <link rel="stylesheet" href="/static/ind.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">Resona</div>
      <div class="list">
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="/record"><li>Recording</li></a>
          <a href="/ind"> <li>Identify</li></a>
          <a href="/songs"><li>History</li></a>
          <a href="/about"><li>About</li></a>
          <a href="/logout"><button class="in">Logout</button></a>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="box">
        <h1 style="font-size: 40px; margin-top: 20px">
          Custom Song identification
        </h1>
        <form id="recognizeForm" enctype="multipart/form-data">
          <!-- <label for="folderPath">Folder Path</label> -->
          <!-- <input
          type="text"
          id="folderPath"
          name="folderPath"
          placeholder="Enter the folder path"
        /> -->

          <input
            type="text"
            name="folderPath"
            id="folderPath"
            placeholder="Folder Path"
          />

          <!-- <label for="file">Upload File</label> -->
          <input
            style="
              background-color: rgb(222, 225, 215);
              border-radius: 20px;
              padding: 20px;
              width: 250px;
            "
            type="file"
            id="file"
            name="file"
          />

          <button class="rec" type="button" onclick="submitForm()">
            Identify Song
          </button>
        </form>
        <p class="result" id="result" style="color: black"></p>
      </div>
      <p
        style="
          font-weight: lighter;
          font-size: 15px;
          margin-top: 20px;
          color: rgb(255, 255, 255);
        "
      >
        This interface allows users to upload an audio file and specify a folder
        path to identify songs from specific folder.
      </p>
    </div>

    <script>
      function submitForm() {
        const form = document.getElementById("recognizeForm");
        const formData = new FormData(form);

        fetch("/recognize", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            const resultDiv = document.getElementById("result");
            if (data.error) {
              resultDiv.innerHTML = `<p style="color: red;">${data.error}</p>`;
            } else {
              resultDiv.innerHTML = `<p>${data.result}</p>`;
              console.log(data.result);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
